:root {
    --primary: #28a7f6;
    --text: #131836;
    --bg: #f0f2f5;
    --sub-text: #3b3d52;

    --text-dark: #f0f2f5;
    --bg-dark: #131836;
    --sub-text-dark: #dddee0;
}
/* 
[color-scheme="light"]{
    --primary: #6747ea;
    --text: #131836;
    --bg: #efefef;
    --sub-text: #3b3d52;
}

[color-scheme="dark"]{
    --text: var(--text-dark);
    --bg: var(--bg-dark);
    --sub-text: var(--sub-text-dark);
    --primary: #6747ea;
}
  
@media(prefers-color-scheme: dark) {
    :root {
        --text: var(--text-dark);
        --bg: var(--bg-dark);
        --sub-text: var(--sub-text-dark);
        --primary: #6747ea;
    }
} 
*/


*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--bg);
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

a{
    color: var(--bg);
}

@media only screen and (max-width: 768px),(min-width: 320px) {
    .alert{
        background-color: var(--primary);
        width: 100%;
        border-left: 2vmin solid var(--text);
        height: calc(6vmax - 2vmin);
        display: flex;
        justify-content: space-between;
        font-size: calc(3.4vmax - 1.5vmin);
        line-height: calc(4vmax - 1vmin);
        padding: 1vmax 1vmax;
        color: #f8fafc;
        vertical-align: middle;
        line-height: normal;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 0.5px;
    }

    .alert:hover{
        background-color: var(--text);
        transition: ease-in-out 0.5s;
        -webkit-transition: ease-in-out 0.5s;
        -moz-transition: ease-in-out 0.5s;
        -ms-transition: ease-in-out 0.5s;
        -o-transition: ease-in-out 0.5s;
    }

    .closebtn{
        cursor: pointer;
        font-size: calc(5vmax - 1vmin);
        line-height: calc(4vmax - 1vmin);
        padding: 0 1vmax;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
    }

    
    .brand {
        height: 8vmax;
        width: 100%;
        background-color: var(--primary);
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 1vmax 2vmax;
        color: var(--bg);
        position: sticky;
        top: 0;
    }

    .brand a{
        font-size: 4vmax;
    }

    footer nav{
        display: flex;
        height: 8vmax;
        width: 100%;
        padding: 0 2vmax;
        background-color: var(--bg-dark);
        position: fixed;
        bottom: 0;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        text-align: center;
    }

    footer nav a i{
        display: block;
    }

    footer nav a{
        font-size: 2vmax;
    }

    footer nav i{
        font-size: 2.5vmax;
    }

    .slide-show{
        padding-top: 1vmax;
    }

    .gallery-cell {
        width: 66%;
        height: 30vmax;
        margin-right: 10px;
        background: var(--text);
        counter-increment: gallery-cell;
      }
      
      /* cell number */
    .gallery-cell:before {
        display: block;
        text-align: center;
        content: counter(gallery-cell);
        line-height: 30vmax;
        font-size: 80px;
        color: white;
    }

}

@media only screen and (min-width: 768px) {
    .alert{
        background-color: var(--primary);
        width: 100%;
        border-left: 2vmin solid var(--text);
        height: 6vmin;
        display: flex;
        justify-content: space-between;
        font-size: 3.4vmin;
        line-height: 4vmin;
        padding: 1vmin 1vmin;
        color: #f8fafc;
        vertical-align: middle;
        line-height: normal;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 0.5px;
    }

    .alert:hover{
        background-color: var(--text);
        transition: ease-in-out 0.5s;
        -webkit-transition: ease-in-out 0.5s;
        -moz-transition: ease-in-out 0.5s;
        -ms-transition: ease-in-out 0.5s;
        -o-transition: ease-in-out 0.5s;
    }

    .closebtn{
        cursor: pointer;
        font-size: 4.2vmin;
        line-height: 4.2vmin;
        padding: 0 1vmin;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
    }

    .brand {
        height: 8vmin;
        width: 100%;
        background-color: var(--primary);
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 1vmin 2vmin;
        color: var(--bg);
        position: sticky;
        top: 0;
    }

    .brand a{
        font-size: 4vmin;
    }

    footer nav{
        display: flex;
        height: 8vmin;
        width: 100%;
        padding: 0 4vmin;
        background-color: var(--bg-dark);
        position: fixed;
        bottom: 0;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        text-align: center;
    }

    footer nav a i{
        display: block;
    }

    footer nav a{
        font-size: 2vmin;
    }

    footer nav i{
        font-size: 2.5vmin;
    }

    

    .slide-show{
        padding-top: 1vmin;
    }

    .gallery-cell {
        width: 66%;
        height: 40vmin;
        margin-right: 10px;
        background: var(--text);
        counter-increment: gallery-cell;
      }
      
      /* cell number */
    .gallery-cell:before {
        display: block;
        text-align: center;
        content: counter(gallery-cell);
        line-height: 40vmin;
        font-size: 80px;
        color: white;
    }
}